<!DOCTYPE html>
<!--=== Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/css/add-product.css">
     
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!--<title>Responsive Regisration Form </title>--> 
</head>
<body>
    <div class="container">
        <header>Nhập sản phẩm</header>

        <form action="/admin/product/add-product" method="POST">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Chi tiết thông tin</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>Tên</label>
                            <input type="text" name="name" placeholder="Nhập tên sản phẩm" autocomplete="off" required>
                        </div>

                        <div class="input-field">
                            <label>Link</label>
                            <input type="text" name="link" placeholder="Nhập short link" autocomplete="off" required>
                        </div>

                        <div class="input-field">
                            <label>Hình ảnh</label>
                            <input type="text" name="image" placeholder="Nhập link ảnh" autocomplete="off" required>
                        </div>

                        <div class="input-field">
                            <label>Giá</label>
                            <input type="number" name="price" placeholder="Nhập giá" autocomplete="off" required>
                        </div>

                        <div class="input-field">
                            <label>Giảm giá</label>
                            <input type="number" name="discount" placeholder="Nhập phần trăm giảm" autocomplete="off" required>
                        </div>
                        <div class="input-field">
                            <label>Bấm để thêm sản phẩm</label>
                            <button class="nextBtn">
                                <span class="btnText">Thêm sản phẩm</span>
                                <i class="uil uil-navigator"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="added-product">
            <% if(data){ %>
                <p class="info"><%= msg %></p>
                <div class="img">
                    <img src="<%= data %>" alt="anh san pham" width="200px">
                </div>
            <% } %>
        </div>
    </div>

    <script src="/js/add-product.js"></script>
</body>
</html>
